USE [session3]
GO
/****** Object:  Table [dbo].[dbuser]    Script Date: 2021/10/16 18:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbuser](
	[id] [char](48) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](48) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[soilNutrient]    Script Date: 2021/10/16 18:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[soilNutrient](
	[id] [char](48) NOT NULL,
	[venueIdentifier] [varchar](30) NULL,
	[venueName] [varchar](100) NULL,
	[administrativePlace] [varchar](255) NULL,
	[city] [char](60) NULL,
	[province] [char](30) NULL,
	[describe] [text] NULL,
	[ecosystemType] [varchar](30) NULL,
	[landUseType] [varchar](30) NULL,
	[ecologicalPartition] [varchar](60) NULL,
	[climatePartition] [varchar](60) NULL,
	[cooked] [varchar](60) NULL,
	[soilPartition] [varchar](20) NULL,
	[longitude] [decimal](10, 6) NULL,
	[latitude] [decimal](10, 6) NULL,
	[elevation] [float] NULL,
	[averageAnnualTemperature] [float] NULL,
	[accumulatedTemperature] [float] NULL,
	[annualPrecipitation] [float] NULL,
	[annualEvaporation] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tillageNutrients]    Script Date: 2021/10/16 18:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tillageNutrients](
	[id] [char](48) NOT NULL,
	[sid] [char](48) NOT NULL,
	[day] [varchar](30) NULL,
	[samplingSiteName] [varchar](100) NULL,
	[samplePartitionCode] [varchar](60) NULL,
	[samplePartitionDescription] [varchar](60) NULL,
	[soilType] [varchar](60) NULL,
	[motherSystem] [varchar](60) NULL,
	[crop] [varchar](60) NULL,
	[samplingDepth] [varchar](100) NULL,
	[sampleCode] [varchar](100) NULL,
	[organicMatter] [decimal](5, 3) NULL,
	[totalNitrogen] [decimal](5, 3) NULL,
	[alkaliNitrogen] [decimal](6, 3) NULL,
	[availablePhosphorus] [decimal](6, 3) NULL,
	[quickPotassium] [decimal](6, 3) NULL,
	[relievePotassium] [decimal](8, 3) NULL,
	[venueIdentifier] [varchar](30) NULL,
	[year] [varchar](30) NULL,
	[month] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[dbuser] ([id], [username], [password]) VALUES (N'86428538-45de-4e4c-8cc7-881ecf7693ea            ', N'管理员', N'123456')
INSERT [dbo].[dbuser] ([id], [username], [password]) VALUES (N'cbb0f64c-dd3b-48b9-8096-264386c0b7a3            ', N'admin', N'123456')
INSERT [dbo].[tillageNutrients] ([id], [sid], [day], [samplingSiteName], [samplePartitionCode], [samplePartitionDescription], [soilType], [motherSystem], [crop], [samplingDepth], [sampleCode], [organicMatter], [totalNitrogen], [alkaliNitrogen], [availablePhosphorus], [quickPotassium], [relievePotassium], [venueIdentifier], [year], [month]) VALUES (N'a7cf8467-7e82-47c7-8b73-56a51659ceec            ', N'0a212ea8-d229-491e-ae8a-8466dbd01f84            ', N'5', N'土壤监测辅助观测场-空白', N'4', N'川地
', N'黄绵土', N'黄土', N'玉米', N'0-20', N'ASAFZ01B00-01-2005-04-01', CAST(7.890 AS Decimal(5, 3)), CAST(0.510 AS Decimal(5, 3)), CAST(38.200 AS Decimal(6, 3)), CAST(13.700 AS Decimal(6, 3)), CAST(112.300 AS Decimal(6, 3)), CAST(739.980 AS Decimal(8, 3)), N'ASA', N'2005', N'10')
